.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}
.btns{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #53a8b6;
    color: white;
}
.mainContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cards {
    display: flex;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    flex-direction: column;
    background-color:  #5585b5;;
}

.cards img {
    width: 250px;
    height: 200px;
    margin-top: 20px;
}


.containBtns {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}